src/Soap/webstamp_v6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="https://webstamp.post.ch/wsws/soap/v6" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="wsws_soap_api_v6"
             targetNamespace="https://webstamp.post.ch/wsws/soap/v6">
    <types>
        <xsd:schema targetNamespace="https://webstamp.post.ch/wsws/soap/v6"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
            <xsd:complexType name="wsws_identification">
                <xsd:all>
                    <xsd:element name="application" type="tns:wsws_identification_simple_application"/>
                    <xsd:element name="language" type="tns:wsws_identification_language"/>
                    <xsd:element name="userid" type="tns:wsws_identification_simple_userid" minOccurs="0"/>
                    <xsd:element name="password" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="encryption_type" type="tns:wsws_identification_encryption_type" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_identification_simple_application">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_identification_language">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="de"/>
                    <xsd:enumeration value="fr"/>
                    <xsd:enumeration value="it"/>
                    <xsd:enumeration value="en"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_identification_simple_userid">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_identification_encryption_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="md5"/>
                    <xsd:enumeration value="sha1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="get_categories_request">
                <xsd:all>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_categories">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_categories_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_category">
                <xsd:all>
                    <xsd:element name="name" type="tns:wsws_category_simple_name"/>
                    <xsd:element name="number" type="tns:wsws_category_simple_number"/>
                    <xsd:element name="recipient_mandatory" type="xsd:boolean"/>
                    <xsd:element name="valid_days" type="tns:wsws_category_simple_valid_days"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_category_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_category_simple_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[1-9][0-9]{0,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_category_simple_valid_days">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[1-9][0-9]{0,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_category">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_category" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_categoriesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_categoriesResult" type="tns:ArrayOfWsws_category"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ArrayOfInt">
                <xsd:sequence>
                    <xsd:element name="item" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="get_products_request">
                <xsd:all>
                    <xsd:element name="timestamp" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="product_lists" type="tns:ArrayOfInt" minOccurs="0"/>
                    <xsd:element name="post_product_number" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="customer_type" type="tns:get_products_request_customer_type" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="get_products_request_customer_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="pk"/>
                    <xsd:enumeration value="gk"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_products">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_products_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_addition">
                <xsd:all>
                    <xsd:element name="code" type="tns:wsws_addition_simple_code"/>
                    <xsd:element name="short_name" type="tns:wsws_addition_simple_short_name"/>
                    <xsd:element name="name" type="tns:wsws_addition_simple_name"/>
                    <xsd:element name="alias" type="tns:wsws_addition_simple_alias"/>
                    <xsd:element name="optional" type="xsd:boolean"/>
                    <xsd:element name="price" type="xsd:float"/>
                    <xsd:element name="add_price" type="xsd:boolean"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_addition_simple_code">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_addition_simple_short_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_addition_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_addition_simple_alias">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_addition">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_addition" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_product">
                <xsd:all>
                    <xsd:element name="number" type="tns:wsws_product_simple_number"/>
                    <xsd:element name="category" type="tns:wsws_product_simple_category"/>
                    <xsd:element name="category_number" type="tns:wsws_product_simple_category_number"/>
                    <xsd:element name="product_list" type="tns:wsws_product_simple_product_list"/>
                    <xsd:element name="product_list_number" type="tns:wsws_product_simple_product_list_number"/>
                    <xsd:element name="post_product_number" type="tns:wsws_product_simple_post_product_number"/>
                    <xsd:element name="price" type="xsd:float"/>
                    <xsd:element name="name" type="tns:wsws_product_simple_name"/>
                    <xsd:element name="additions" type="tns:ArrayOfWsws_addition"/>
                    <xsd:element name="delivery" type="tns:wsws_product_simple_delivery"/>
                    <xsd:element name="format" type="tns:wsws_product_simple_format"/>
                    <xsd:element name="size_din" type="tns:wsws_product_simple_size_din"/>
                    <xsd:element name="max_size_length" nillable="true" type="tns:wsws_product_simple_max_size_length"/>
                    <xsd:element name="max_size_width" nillable="true" type="tns:wsws_product_simple_max_size_width"/>
                    <xsd:element name="max_size_height" nillable="true" type="tns:wsws_product_simple_max_size_height"/>
                    <xsd:element name="max_edge_length" nillable="true" type="tns:wsws_product_simple_max_edge_length"/>
                    <xsd:element name="max_scale" nillable="true" type="tns:wsws_product_simple_max_scale"/>
                    <xsd:element name="max_weight" nillable="true" type="tns:wsws_product_simple_max_weight"/>
                    <xsd:element name="zone" type="tns:wsws_product_simple_zone"/>
                    <xsd:element name="subsystem" type="tns:wsws_product_simple_subsystem" minOccurs="0"/>
                    <xsd:element name="segment" type="tns:wsws_product_simple_segment" minOccurs="0"/>
                    <xsd:element name="barcode" type="xsd:boolean" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_product_simple_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,8}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_category">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_category_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_product_list">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_product_list_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_post_product_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,50}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_delivery">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_format">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_size_din">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_max_size_length">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{0,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_max_size_width">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{0,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_max_size_height">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{0,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_max_edge_length">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_max_scale">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_max_weight">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_zone">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_subsystem">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_simple_segment">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_product">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_product" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_productsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_productsResult" type="tns:ArrayOfWsws_product"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_media_types_request">
                <xsd:all>
                    <xsd:element name="timestamp" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_media_types">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_media_types_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_media_type">
                <xsd:all>
                    <xsd:element name="categories" type="tns:ArrayOfWsws_category"/>
                    <xsd:element name="image_possible" type="xsd:boolean"/>
                    <xsd:element name="name" type="tns:wsws_media_type_simple_name"/>
                    <xsd:element name="number" type="tns:wsws_media_type_simple_number"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_media_type_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_media_type_simple_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_media_type">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_media_type" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_media_typesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_media_typesResult" type="tns:ArrayOfWsws_media_type"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_medias_request">
                <xsd:all>
                    <xsd:element name="timestamp" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_medias">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_medias_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_media">
                <xsd:all>
                    <xsd:element name="number" type="xsd:int"/>
                    <xsd:element name="name" type="tns:wsws_media_simple_name"/>
                    <xsd:element name="type" type="tns:wsws_media_simple_type"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_media_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_media_simple_type">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_media">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_media" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_mediasResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_mediasResult" type="tns:ArrayOfWsws_media"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_zones_request">
                <xsd:all>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_zones">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_zones_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_zone">
                <xsd:all>
                    <xsd:element name="name" type="tns:wsws_zone_simple_name"/>
                    <xsd:element name="number" type="tns:wsws_zone_simple_number"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_zone_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_zone_simple_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_zone">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_zone" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_zonesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_zonesResult" type="tns:ArrayOfWsws_zone"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_countries_request">
                <xsd:all>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_countries">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_countries_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_country">
                <xsd:all>
                    <xsd:element name="alias" type="tns:wsws_country_simple_alias"/>
                    <xsd:element name="name" type="tns:wsws_country_simple_name"/>
                    <xsd:element name="zone" type="tns:wsws_country_simple_zone"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_country_simple_alias">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_country_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_country_simple_zone">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,3}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_country">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_country" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_countriesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_countriesResult" type="tns:ArrayOfWsws_country"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_product_lists_request">
                <xsd:all>
                    <xsd:element name="customer_type" type="tns:get_product_lists_request_customer_type" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="get_product_lists_request_customer_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="pk"/>
                    <xsd:enumeration value="gk"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_product_lists">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_product_lists_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_product_list">
                <xsd:all>
                    <xsd:element name="number" type="tns:wsws_product_list_simple_number"/>
                    <xsd:element name="name" type="tns:wsws_product_list_simple_name"/>
                    <xsd:element name="customer_type" type="tns:wsws_product_list_customer_type"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_product_list_simple_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_list_simple_name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_product_list_customer_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="pk"/>
                    <xsd:enumeration value="gk"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_product_list">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_product_list" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_product_listsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_product_listsResult" type="tns:ArrayOfWsws_product_list"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_custom_media">
                <xsd:all>
                    <xsd:element name="type" type="tns:wsws_custom_media_type" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="page_width" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="page_height" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="margin_top" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="margin_bottom" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="margin_left" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="margin_right" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="cols" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="rows" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="colspacing" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="rowspacing" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="recipient_orientation" type="tns:wsws_custom_media_recipient_orientation"
                                 minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="recipient_x" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="recipient_y" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="sender_orientation" type="tns:wsws_custom_media_sender_orientation" minOccurs="0"
                                 maxOccurs="1"/>
                    <xsd:element name="sender_x" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="sender_y" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="franking_orientation" type="tns:wsws_custom_media_franking_orientation"
                                 minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="franking_x" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="franking_y" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_custom_media_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="label"/>
                    <xsd:enumeration value="envelope"/>
                    <xsd:enumeration value="letter"/>
                    <xsd:enumeration value="paper"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_custom_media_recipient_orientation">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="top/left"/>
                    <xsd:enumeration value="top/right"/>
                    <xsd:enumeration value="bottom/left"/>
                    <xsd:enumeration value="bottom/right"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_custom_media_sender_orientation">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="top/left"/>
                    <xsd:enumeration value="top/right"/>
                    <xsd:enumeration value="bottom/left"/>
                    <xsd:enumeration value="bottom/right"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_custom_media_franking_orientation">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="top/left"/>
                    <xsd:enumeration value="top/right"/>
                    <xsd:enumeration value="bottom/left"/>
                    <xsd:enumeration value="bottom/right"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="wsws_recipient_address">
                <xsd:all>
                    <xsd:element name="reference" type="tns:wsws_recipient_address_simple_reference" minOccurs="0"/>
                    <xsd:element name="print_address" type="tns:wsws_recipient_address_simple_print_address"
                                 minOccurs="0"/>
                    <xsd:element name="cash_on_delivery_amount" type="xsd:float" minOccurs="0"/>
                    <xsd:element name="cash_on_delivery_esr"
                                 type="tns:wsws_recipient_address_simple_cash_on_delivery_esr" minOccurs="0"/>
                    <xsd:element name="organization" type="tns:wsws_recipient_address_simple_organization"
                                 minOccurs="0"/>
                    <xsd:element name="title" type="tns:wsws_recipient_address_simple_title" minOccurs="0"/>
                    <xsd:element name="firstname" type="tns:wsws_recipient_address_simple_firstname" minOccurs="0"/>
                    <xsd:element name="lastname" type="tns:wsws_recipient_address_simple_lastname" minOccurs="0"/>
                    <xsd:element name="addition" type="tns:wsws_recipient_address_simple_addition" minOccurs="0"/>
                    <xsd:element name="street" type="tns:wsws_recipient_address_simple_street"/>
                    <xsd:element name="pobox" type="tns:wsws_recipient_address_simple_pobox" minOccurs="0"/>
                    <xsd:element name="pobox_lang" type="tns:wsws_recipient_address_pobox_lang" minOccurs="0"/>
                    <xsd:element name="pobox_nr" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="zip" type="tns:wsws_recipient_address_simple_zip"/>
                    <xsd:element name="city" type="tns:wsws_recipient_address_simple_city"/>
                    <xsd:element name="country" type="tns:wsws_recipient_address_simple_country" minOccurs="0"/>
                    <xsd:element name="company_addition" type="tns:wsws_recipient_address_simple_company_addition"
                                 minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_recipient_address_simple_reference">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_print_address">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1000"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_cash_on_delivery_esr">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="27"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_organization">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_title">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_firstname">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_lastname">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_addition">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_street">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_pobox">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_pobox_lang">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="de"/>
                    <xsd:enumeration value="fr"/>
                    <xsd:enumeration value="it"/>
                    <xsd:enumeration value="en"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_zip">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_city">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_country">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_recipient_address_simple_company_addition">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_recipient_address">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_recipient_address" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_sender_address">
                <xsd:all>
                    <xsd:element name="contact_person" type="tns:wsws_sender_address_simple_contact_person"
                                 minOccurs="0"/>
                    <xsd:element name="contact_phone" type="tns:wsws_sender_address_simple_contact_phone"
                                 minOccurs="0"/>
                    <xsd:element name="contact_mobile" type="tns:wsws_sender_address_simple_contact_mobile"
                                 minOccurs="0"/>
                    <xsd:element name="contact_email" type="tns:wsws_sender_address_simple_contact_email"
                                 minOccurs="0"/>
                    <xsd:element name="organization" type="tns:wsws_sender_address_simple_organization" minOccurs="0"/>
                    <xsd:element name="title" type="tns:wsws_sender_address_simple_title" minOccurs="0"/>
                    <xsd:element name="firstname" type="tns:wsws_sender_address_simple_firstname" minOccurs="0"/>
                    <xsd:element name="lastname" type="tns:wsws_sender_address_simple_lastname" minOccurs="0"/>
                    <xsd:element name="addition" type="tns:wsws_sender_address_simple_addition" minOccurs="0"/>
                    <xsd:element name="street" type="tns:wsws_sender_address_simple_street"/>
                    <xsd:element name="pobox" type="tns:wsws_sender_address_simple_pobox" minOccurs="0"/>
                    <xsd:element name="pobox_lang" type="tns:wsws_sender_address_pobox_lang" minOccurs="0"/>
                    <xsd:element name="pobox_nr" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="zip" type="tns:wsws_sender_address_simple_zip"/>
                    <xsd:element name="city" type="tns:wsws_sender_address_simple_city"/>
                    <xsd:element name="country" type="tns:wsws_sender_address_simple_country" minOccurs="0"/>
                    <xsd:element name="company_addition" type="tns:wsws_sender_address_simple_company_addition"
                                 minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_sender_address_simple_contact_person">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="70"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_contact_phone">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_contact_mobile">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_contact_email">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_organization">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_title">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_firstname">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_lastname">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_addition">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_street">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_pobox">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_pobox_lang">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="de"/>
                    <xsd:enumeration value="fr"/>
                    <xsd:enumeration value="it"/>
                    <xsd:enumeration value="en"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_zip">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_city">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_country">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_sender_address_simple_company_addition">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="wsws_address">
                <xsd:all>
                    <xsd:element name="organization" type="tns:wsws_address_simple_organization" minOccurs="0"/>
                    <xsd:element name="title" type="tns:wsws_address_simple_title" minOccurs="0"/>
                    <xsd:element name="firstname" type="tns:wsws_address_simple_firstname" minOccurs="0"/>
                    <xsd:element name="lastname" type="tns:wsws_address_simple_lastname" minOccurs="0"/>
                    <xsd:element name="addition" type="tns:wsws_address_simple_addition" minOccurs="0"/>
                    <xsd:element name="street" type="tns:wsws_address_simple_street"/>
                    <xsd:element name="pobox" type="tns:wsws_address_simple_pobox" minOccurs="0"/>
                    <xsd:element name="pobox_lang" type="tns:wsws_address_pobox_lang" minOccurs="0"/>
                    <xsd:element name="pobox_nr" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="zip" type="tns:wsws_address_simple_zip"/>
                    <xsd:element name="city" type="tns:wsws_address_simple_city"/>
                    <xsd:element name="country" type="tns:wsws_address_simple_country" minOccurs="0"/>
                    <xsd:element name="company_addition" type="tns:wsws_address_simple_company_addition" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_address_simple_organization">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_title">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_firstname">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_lastname">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_addition">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_street">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_pobox">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_pobox_lang">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="de"/>
                    <xsd:enumeration value="fr"/>
                    <xsd:enumeration value="it"/>
                    <xsd:enumeration value="en"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_zip">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_city">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_country">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_address_simple_company_addition">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="wsws_cash_on_delivery">
                <xsd:all>
                    <xsd:element name="transaction_type" type="tns:wsws_cash_on_delivery_transaction_type"/>
                    <xsd:element name="esr_customer_number"
                                 type="tns:wsws_cash_on_delivery_simple_esr_customer_number"/>
                    <xsd:element name="iban" type="tns:wsws_cash_on_delivery_simple_iban"/>
                    <xsd:element name="beneficiary" type="tns:wsws_address"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_cash_on_delivery_transaction_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="post_bank"/>
                    <xsd:enumeration value="esr"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_cash_on_delivery_simple_esr_customer_number">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_cash_on_delivery_simple_iban">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="27"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="order_request">
                <xsd:all>
                    <xsd:element name="product" type="xsd:int"/>
                    <xsd:element name="single" type="xsd:boolean"/>
                    <xsd:element name="file_type" type="tns:order_request_file_type"/>
                    <xsd:element name="print_zone" type="tns:order_request_print_zone" minOccurs="0"/>
                    <xsd:element name="media" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="custom_media" type="tns:wsws_custom_media" minOccurs="0"/>
                    <xsd:element name="quantity" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="license_number" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="a_addresses" type="tns:ArrayOfWsws_recipient_address" minOccurs="0"/>
                    <xsd:element name="sender" type="tns:wsws_sender_address" minOccurs="0"/>
                    <xsd:element name="media_startpos" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="image" type="xsd:base64Binary" minOccurs="0"/>
                    <xsd:element name="post_product" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="reference" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="order_comment" type="tns:order_request_simple_order_comment" minOccurs="0"/>
                    <xsd:element name="cash_on_delivery_info" type="tns:wsws_cash_on_delivery" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="order_request_file_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="pdf"/>
                    <xsd:enumeration value="bmp"/>
                    <xsd:enumeration value="gif"/>
                    <xsd:enumeration value="png"/>
                    <xsd:enumeration value="csv"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="order_request_print_zone">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="order_request_simple_order_comment">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="new_order_preview">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:order_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_message">
                <xsd:all>
                    <xsd:element name="message_type" type="tns:wsws_message_simple_message_type"/>
                    <xsd:element name="queue_id" nillable="true" type="tns:wsws_message_simple_queue_id"/>
                    <xsd:element name="queue_wait" nillable="true" type="tns:wsws_message_simple_queue_wait"/>
                    <xsd:element name="customer_message" type="tns:wsws_message_simple_customer_message"/>
                    <xsd:element name="system_message" type="tns:wsws_message_simple_system_message"/>
                    <xsd:element name="system_message_code" type="tns:wsws_message_simple_system_message_code"/>
                    <xsd:element name="confirm_until" nillable="true" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="url" nillable="true" type="tns:wsws_message_simple_url"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_message_simple_message_type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_message_simple_queue_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_message_simple_queue_wait">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_message_simple_customer_message">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="250"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_message_simple_system_message">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="250"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_message_simple_system_message_code">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_message_simple_url">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_message">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_message" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_stamp">
                <xsd:all>
                    <xsd:element name="compression" type="tns:wsws_stamp_compression" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="image_height_mm" type="tns:wsws_stamp_simple_image_height_mm" minOccurs="0"
                                 maxOccurs="1"/>
                    <xsd:element name="image_height_px" type="tns:wsws_stamp_simple_image_height_px" minOccurs="0"
                                 maxOccurs="1"/>
                    <xsd:element name="image_width_mm" type="tns:wsws_stamp_simple_image_width_mm" minOccurs="0"
                                 maxOccurs="1"/>
                    <xsd:element name="image_width_px" type="tns:wsws_stamp_simple_image_width_px" minOccurs="0"
                                 maxOccurs="1"/>
                    <xsd:element name="mime_type" type="tns:wsws_stamp_simple_mime_type" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="tracking_number" type="tns:wsws_stamp_simple_tracking_number"/>
                    <xsd:element name="print_data" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="reference" type="tns:wsws_stamp_simple_reference" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="stamp_id" nillable="true" type="tns:wsws_stamp_simple_stamp_id"/>
                    <xsd:element name="label_number" nillable="true" type="tns:wsws_stamp_simple_label_number"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_stamp_compression">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="gzip"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_image_height_mm">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_image_height_px">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_image_width_mm">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_image_width_px">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_mime_type">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_tracking_number">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="22"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_reference">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_stamp_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,20}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_stamp_simple_label_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,20}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_stamp">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_stamp" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_order">
                <xsd:all>
                    <xsd:element name="item_price" type="xsd:float"/>
                    <xsd:element name="messages" type="tns:ArrayOfWsws_message"/>
                    <xsd:element name="order_id" nillable="true" type="tns:wsws_order_simple_order_id"/>
                    <xsd:element name="price" type="xsd:float"/>
                    <xsd:element name="print_data" type="xsd:base64Binary"/>
                    <xsd:element name="reference" type="tns:wsws_order_simple_reference"/>
                    <xsd:element name="stamps" type="tns:ArrayOfWsws_stamp"/>
                    <xsd:element name="product_number" type="tns:wsws_order_simple_product_number"/>
                    <xsd:element name="post_product_number" type="tns:wsws_order_simple_post_product_number"/>
                    <xsd:element name="delivery_receipt" type="xsd:base64Binary" minOccurs="0"/>
                    <xsd:element name="valid_days" type="tns:wsws_order_simple_valid_days"/>
                    <xsd:element name="valid_until" nillable="true" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_order_simple_order_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_order_simple_reference">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_order_simple_product_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,8}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_order_simple_post_product_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_order_simple_valid_days">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="new_order_previewResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="new_order_previewResult" type="tns:wsws_order"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="new_order">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:order_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="new_orderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="new_orderResult" type="tns:wsws_order"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="copy_order_request">
                <xsd:all>
                    <xsd:element name="order_id" type="xsd:int"/>
                    <xsd:element name="quantity" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="order_comment" type="tns:copy_order_request_simple_order_comment" minOccurs="0"/>
                    <xsd:element name="file_type" type="tns:copy_order_request_file_type" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="copy_order_request_simple_order_comment">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="copy_order_request_file_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="pdf"/>
                    <xsd:enumeration value="bmp"/>
                    <xsd:enumeration value="gif"/>
                    <xsd:enumeration value="png"/>
                    <xsd:enumeration value="csv"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="copy_order_by_id">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:copy_order_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="copy_order_by_idResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="copy_order_by_idResult" type="tns:wsws_order"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="previous_order_request">
                <xsd:all>
                    <xsd:element name="order_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="stamp_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="previous_order">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:previous_order_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="previous_orderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="previous_orderResult" type="tns:wsws_order"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_info_journal_request">
                <xsd:all>
                    <xsd:element name="output" type="tns:get_info_journal_request_output" minOccurs="0"/>
                    <xsd:element name="source" type="tns:get_info_journal_request_source" minOccurs="0"/>
                    <xsd:element name="from" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="to" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="get_info_journal_request_output">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="xml"/>
                    <xsd:enumeration value="url"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="get_info_journal_request_source">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="gui"/>
                    <xsd:enumeration value="webstamp"/>
                    <xsd:enumeration value="all"/>
                    <xsd:enumeration value="business"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_info_journal">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_info_journal_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_journal">
                <xsd:all>
                    <xsd:element name="order_comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="date" type="xsd:dateTime"/>
                    <xsd:element name="order_id" type="tns:wsws_journal_simple_order_id"/>
                    <xsd:element name="quantity" type="tns:wsws_journal_simple_quantity"/>
                    <xsd:element name="price" type="xsd:float"/>
                    <xsd:element name="total_price" type="xsd:float"/>
                    <xsd:element name="valid_until" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="stamps" type="tns:ArrayOfWsws_stamp" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_journal_simple_order_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_journal_simple_quantity">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,5}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_journal">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_journal" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_journals">
                <xsd:all>
                    <xsd:element name="journals" type="tns:ArrayOfWsws_journal"/>
                    <xsd:element name="messages" type="tns:ArrayOfWsws_message"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_info_journalResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_info_journalResult" type="tns:wsws_journals"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_info_receipt_request">
                <xsd:all>
                    <xsd:element name="label_number" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="output" type="tns:get_info_receipt_request_output" minOccurs="0"/>
                    <xsd:element name="from" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="to" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="order_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="stamp_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="get_info_receipt_request_output">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="pdf"/>
                    <xsd:enumeration value="xml"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_info_receipt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_info_receipt_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_order_item">
                <xsd:all>
                    <xsd:element name="stamp_id" type="tns:wsws_order_item_simple_stamp_id"/>
                    <xsd:element name="label_number" nillable="true" type="tns:wsws_order_item_simple_label_number"/>
                    <xsd:element name="tracking_number" type="tns:wsws_order_item_simple_tracking_number"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_order_item_simple_stamp_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,20}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_order_item_simple_label_number">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,20}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_order_item_simple_tracking_number">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="22"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_order_item">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_order_item" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_receipt_info">
                <xsd:all>
                    <xsd:element name="address" type="tns:wsws_address" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="journal" type="tns:wsws_journal" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="product" type="tns:wsws_product" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="order_items" type="tns:ArrayOfWsws_order_item" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfWsws_receipt_info">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_receipt_info" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="wsws_receipt">
                <xsd:all>
                    <xsd:element name="receipt" nillable="true" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="receipt_info" type="tns:ArrayOfWsws_receipt_info" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="order_id" type="tns:wsws_receipt_simple_order_id" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_receipt_simple_order_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_info_receiptResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_info_receiptResult" type="tns:wsws_receipt"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_info_delivery_receipt_request">
                <xsd:all>
                    <xsd:element name="order_id" type="xsd:int"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_info_delivery_receipt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_info_delivery_receipt_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_delivery_receipt">
                <xsd:all>
                    <xsd:element name="order_id" type="tns:wsws_delivery_receipt_simple_order_id"/>
                    <xsd:element name="delivery_receipt" type="xsd:base64Binary"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_delivery_receipt_simple_order_id">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{1,10}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_info_delivery_receiptResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_info_delivery_receiptResult" type="tns:wsws_delivery_receipt"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_info_billing_request">
                <xsd:all>
                    <xsd:element name="amount" type="xsd:float" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_info_billing">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_info_billing_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_billing">
                <xsd:all>
                    <xsd:element name="type" type="xsd:string"/>
                    <xsd:element name="balance" type="xsd:float"/>
                    <xsd:element name="chargeable" type="xsd:boolean"/>
                    <xsd:element name="amount_possible" nillable="true" type="xsd:boolean"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_info_billingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_info_billingResult" type="tns:wsws_billing"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_licenses_request">
                <xsd:all>
                    <xsd:element name="post_product_number" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_licenses">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_licenses_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_license">
                <xsd:all>
                    <xsd:element name="number" type="tns:wsws_license_simple_number"/>
                    <xsd:element name="comment" type="tns:wsws_license_simple_comment"/>
                    <xsd:element name="subsystem" type="tns:wsws_license_simple_subsystem" minOccurs="0"/>
                    <xsd:element name="segment" type="tns:wsws_license_simple_segment" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_license_simple_number">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_license_simple_comment">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_license_simple_subsystem">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="wsws_license_simple_segment">
                <xsd:restriction base="xsd:int">
                    <xsd:pattern value="[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ArrayOfWsws_license">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_license" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_licensesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_licensesResult" type="tns:ArrayOfWsws_license"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_error_codes_request">
                <xsd:all>
                    <xsd:element name="language" type="tns:get_error_codes_request_language" minOccurs="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="get_error_codes_request_language">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="de"/>
                    <xsd:enumeration value="fr"/>
                    <xsd:enumeration value="it"/>
                    <xsd:enumeration value="en"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_error_codes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_error_codes_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_error">
                <xsd:all>
                    <xsd:element name="code" type="xsd:int"/>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfWsws_error">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:wsws_error" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="get_error_codesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_error_codesResult" type="tns:ArrayOfWsws_error"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="get_customer_data_request">
                <xsd:all>
                    <xsd:element name="identification" type="tns:wsws_identification"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="get_customer_data">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="args" type="tns:get_customer_data_request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="wsws_customer_data">
                <xsd:all>
                    <xsd:element name="license_state" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="payment_type" type="tns:wsws_customer_data_payment_type" minOccurs="1"
                                 maxOccurs="1"/>
                    <xsd:element name="product_lists" type="tns:ArrayOfInt" minOccurs="1" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:simpleType name="wsws_customer_data_payment_type">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="prepaid"/>
                    <xsd:enumeration value="invoice"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="get_customer_dataResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="get_customer_dataResult" type="tns:wsws_customer_data"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ping">
                <xsd:complexType/>
            </xsd:element>
            <xsd:complexType name="pong">
                <xsd:all>
                    <xsd:element name="date" type="xsd:dateTime"/>
                    <xsd:element name="request_id" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pingResult" type="tns:pong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <portType name="wsws_soap_api_v6Port">
        <operation name="get_categories">
            <documentation>get all possible categories</documentation>
            <input message="tns:get_categoriesIn"/>
            <output message="tns:get_categoriesOut"/>
        </operation>
        <operation name="get_products">
            <documentation>get all possible products</documentation>
            <input message="tns:get_productsIn"/>
            <output message="tns:get_productsOut"/>
        </operation>
        <operation name="get_media_types">
            <documentation>get all possible media_types</documentation>
            <input message="tns:get_media_typesIn"/>
            <output message="tns:get_media_typesOut"/>
        </operation>
        <operation name="get_medias">
            <documentation>get all possible medias</documentation>
            <input message="tns:get_mediasIn"/>
            <output message="tns:get_mediasOut"/>
        </operation>
        <operation name="get_zones">
            <documentation>get all possible zones</documentation>
            <input message="tns:get_zonesIn"/>
            <output message="tns:get_zonesOut"/>
        </operation>
        <operation name="get_countries">
            <documentation>get all possible countries</documentation>
            <input message="tns:get_countriesIn"/>
            <output message="tns:get_countriesOut"/>
        </operation>
        <operation name="get_product_lists">
            <documentation>If a user is provided, return his productLists If customer_type is provided, return . Else
                rerurn all products.
            </documentation>
            <input message="tns:get_product_listsIn"/>
            <output message="tns:get_product_listsOut"/>
        </operation>
        <operation name="new_order_preview">
            <documentation>generate a preview of a new order</documentation>
            <input message="tns:new_order_previewIn"/>
            <output message="tns:new_order_previewOut"/>
        </operation>
        <operation name="new_order">
            <documentation>generate a new order</documentation>
            <input message="tns:new_orderIn"/>
            <output message="tns:new_orderOut"/>
        </operation>
        <operation name="copy_order_by_id">
            <documentation>generates a new order with the same params as a given order_id or stamp_id</documentation>
            <input message="tns:copy_order_by_idIn"/>
            <output message="tns:copy_order_by_idOut"/>
        </operation>
        <operation name="previous_order">
            <documentation>returns a previous order for reprint</documentation>
            <input message="tns:previous_orderIn"/>
            <output message="tns:previous_orderOut"/>
        </operation>
        <operation name="get_info_journal">
            <documentation>returns the journal</documentation>
            <input message="tns:get_info_journalIn"/>
            <output message="tns:get_info_journalOut"/>
        </operation>
        <operation name="get_info_receipt">
            <documentation>returns a receipt</documentation>
            <input message="tns:get_info_receiptIn"/>
            <output message="tns:get_info_receiptOut"/>
        </operation>
        <operation name="get_info_delivery_receipt">
            <documentation>get delivery receipts</documentation>
            <input message="tns:get_info_delivery_receiptIn"/>
            <output message="tns:get_info_delivery_receiptOut"/>
        </operation>
        <operation name="get_info_billing">
            <documentation>get billing info</documentation>
            <input message="tns:get_info_billingIn"/>
            <output message="tns:get_info_billingOut"/>
        </operation>
        <operation name="get_licenses">
            <documentation>get user licenses</documentation>
            <input message="tns:get_licensesIn"/>
            <output message="tns:get_licensesOut"/>
        </operation>
        <operation name="get_error_codes">
            <documentation>get all possible error codes for this API</documentation>
            <input message="tns:get_error_codesIn"/>
            <output message="tns:get_error_codesOut"/>
        </operation>
        <operation name="get_customer_data">
            <documentation>get customer data</documentation>
            <input message="tns:get_customer_dataIn"/>
            <output message="tns:get_customer_dataOut"/>
        </operation>
        <operation name="ping">
            <documentation>returns the current timestamp and request_id.</documentation>
            <input message="tns:pingIn"/>
            <output message="tns:pingOut"/>
        </operation>
    </portType>
    <binding name="wsws_soap_api_v6Binding" type="tns:wsws_soap_api_v6Port">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="get_categories">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_categories"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_products">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_products"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_media_types">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_media_types"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_medias">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_medias"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_zones">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_zones"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_countries">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_countries"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_product_lists">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_product_lists"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="new_order_preview">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#new_order_preview"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="new_order">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#new_order"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="copy_order_by_id">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#copy_order_by_id"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="previous_order">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#previous_order"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_info_journal">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_info_journal"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_info_receipt">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_info_receipt"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_info_delivery_receipt">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_info_delivery_receipt"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_info_billing">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_info_billing"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_licenses">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_licenses"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_error_codes">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_error_codes"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="get_customer_data">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#get_customer_data"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction="https://webstamp.post.ch/wsws/soap/v6#ping"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="wsws_soap_api_v6Service">
        <port name="wsws_soap_api_v6Port" binding="tns:wsws_soap_api_v6Binding">
            <soap:address location="https://webstamp.post.ch/wsws/soap/v6"/>
        </port>
    </service>
    <message name="get_categoriesIn">
        <part name="parameters" element="tns:get_categories"/>
    </message>
    <message name="get_categoriesOut">
        <part name="parameters" element="tns:get_categoriesResponse"/>
    </message>
    <message name="get_productsIn">
        <part name="parameters" element="tns:get_products"/>
    </message>
    <message name="get_productsOut">
        <part name="parameters" element="tns:get_productsResponse"/>
    </message>
    <message name="get_media_typesIn">
        <part name="parameters" element="tns:get_media_types"/>
    </message>
    <message name="get_media_typesOut">
        <part name="parameters" element="tns:get_media_typesResponse"/>
    </message>
    <message name="get_mediasIn">
        <part name="parameters" element="tns:get_medias"/>
    </message>
    <message name="get_mediasOut">
        <part name="parameters" element="tns:get_mediasResponse"/>
    </message>
    <message name="get_zonesIn">
        <part name="parameters" element="tns:get_zones"/>
    </message>
    <message name="get_zonesOut">
        <part name="parameters" element="tns:get_zonesResponse"/>
    </message>
    <message name="get_countriesIn">
        <part name="parameters" element="tns:get_countries"/>
    </message>
    <message name="get_countriesOut">
        <part name="parameters" element="tns:get_countriesResponse"/>
    </message>
    <message name="get_product_listsIn">
        <part name="parameters" element="tns:get_product_lists"/>
    </message>
    <message name="get_product_listsOut">
        <part name="parameters" element="tns:get_product_listsResponse"/>
    </message>
    <message name="new_order_previewIn">
        <part name="parameters" element="tns:new_order_preview"/>
    </message>
    <message name="new_order_previewOut">
        <part name="parameters" element="tns:new_order_previewResponse"/>
    </message>
    <message name="new_orderIn">
        <part name="parameters" element="tns:new_order"/>
    </message>
    <message name="new_orderOut">
        <part name="parameters" element="tns:new_orderResponse"/>
    </message>
    <message name="copy_order_by_idIn">
        <part name="parameters" element="tns:copy_order_by_id"/>
    </message>
    <message name="copy_order_by_idOut">
        <part name="parameters" element="tns:copy_order_by_idResponse"/>
    </message>
    <message name="previous_orderIn">
        <part name="parameters" element="tns:previous_order"/>
    </message>
    <message name="previous_orderOut">
        <part name="parameters" element="tns:previous_orderResponse"/>
    </message>
    <message name="get_info_journalIn">
        <part name="parameters" element="tns:get_info_journal"/>
    </message>
    <message name="get_info_journalOut">
        <part name="parameters" element="tns:get_info_journalResponse"/>
    </message>
    <message name="get_info_receiptIn">
        <part name="parameters" element="tns:get_info_receipt"/>
    </message>
    <message name="get_info_receiptOut">
        <part name="parameters" element="tns:get_info_receiptResponse"/>
    </message>
    <message name="get_info_delivery_receiptIn">
        <part name="parameters" element="tns:get_info_delivery_receipt"/>
    </message>
    <message name="get_info_delivery_receiptOut">
        <part name="parameters" element="tns:get_info_delivery_receiptResponse"/>
    </message>
    <message name="get_info_billingIn">
        <part name="parameters" element="tns:get_info_billing"/>
    </message>
    <message name="get_info_billingOut">
        <part name="parameters" element="tns:get_info_billingResponse"/>
    </message>
    <message name="get_licensesIn">
        <part name="parameters" element="tns:get_licenses"/>
    </message>
    <message name="get_licensesOut">
        <part name="parameters" element="tns:get_licensesResponse"/>
    </message>
    <message name="get_error_codesIn">
        <part name="parameters" element="tns:get_error_codes"/>
    </message>
    <message name="get_error_codesOut">
        <part name="parameters" element="tns:get_error_codesResponse"/>
    </message>
    <message name="get_customer_dataIn">
        <part name="parameters" element="tns:get_customer_data"/>
    </message>
    <message name="get_customer_dataOut">
        <part name="parameters" element="tns:get_customer_dataResponse"/>
    </message>
    <message name="pingIn">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingOut">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
</definitions>
